.App {
  text-align: center;
  background-color: var(--col-bg-main);
  position: relative;
  min-height: 100vh;
}
.App-logo {
  height: 50px;
}
.App-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: var(--col-bg-head);
  padding: 0.5rem 2rem;
  color: var(--col-font-alt);
  position: sticky;
  top: 0;
  z-index: 100;
}
.App-title {
  font-size: 2rem;
  flex-grow: 1;
  margin: 0;
}
.App-intro {
  font-size: large;
}
.App-button {
  border: none;
  background: none;
  padding: 0;
  transition: 200ms ease;
}
.App-button > img {
  display: block;
}
.App-button:hover {
  transform: scale(1.2);
}
